node_modules
.git
.build
.local
.agents
*.log
artifacts/api-server
artifacts/mockup-sandbox
scripts
attached_assets
.github
android
ios
dist
tmp
out-tsc
*.tsbuildinfo
.expo
.expo-shared
.cxx
**/.build
**/.cxx
**/.idea
**/.vscode
!artifacts/vid-master
!lib/db
!lib/api-zod
!lib/api-spec
!lib/api-client-react
!pnpm-lock.yaml
!pnpm-workspace.yaml
!package.json
!eas.json
