# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo
.expo
.expo-shared

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.env
*.env
.env.*
*.log
api.err
api.out
api_test.log
dev_output.log
final_dev.log
startup.log
backend_debug.log
backend_err.log
backend_error.log
backend_stderr.log
backend_stdout.log
frontend_err.log
frontend.log
backend.log

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Build artifacts
.build/
.cxx/
android/.cxx/
android/.b/
artifacts/vid-master/android/.b/
artifacts/vid-master/android/.cxx/
**/build/
